html, body {
	font-family: Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	width: 288px;	
}

img {
	display: none;
}

#displayfeed {
	
}

#postfeed {
	list-decoration: none;
	list-style: none;
	margin-left: -33px;
	margin-top: 2px;
}

li {
clear: both;
}

li.post {
	border: 0;
	font-size: 11px;
	margin-bottom: 20px;
	
}

li.post h3 {
	margin-top: -3px;
	font-size: 14px;
	margin-bottom: 0px;
}

li a {
 	text-decoration: none;
	color: #3F3F3F;
}

li a:hover,
li a:active {
	text-decoration: underline;
}

div.postdate {
	
	margin-top:-15px;	
}

button {
   float: right;
   border-top: 1px solid #2e2e2e;
   background: #4f4f4f;
   background: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#4f4f4f));
   background: -webkit-linear-gradient(top, #2e2e2e, #4f4f4f);
   background: -moz-linear-gradient(top, #2e2e2e, #4f4f4f);
   background: -ms-linear-gradient(top, #2e2e2e, #4f4f4f);
   background: -o-linear-gradient(top, #2e2e2e, #4f4f4f);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

button:hover {
   border-top-color: #737373;
   background: #737373;
   color: #ccc;
}

button:active {
   border-top-color: #737373;
   background: #737373;
}





